<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos</title>
    <link rel="stylesheet" href="/Css/styles.css">
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        .content-title{
            background-color: rgb(32, 56, 100);
            color: white;
            text-align: center;
            height: 140px;
            align-content: center;
            font-size: 20px;
        }

        main{
            margin-top: 50px;
            margin-left: 20%;
            margin-right: 20%;
            color: black;
        }

        .seccion {
            background-color: rgb(255, 255, 255);
            margin-bottom: 40px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            align-items: center;
        }

        main div p{
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: justify;
        }
    </style>
</head>
<body>
    <header>
        <custom-header></custom-header>
    </header>
    <div class="content-title"> <!-- Titulo centrado-->
        <h2 class="Tema">Recursos</h2> 
    </div>
    <main>
        <div>
            <div class="seccion">
                <h2>Párrafo introductorio</h2>
                <p>En la creación de INSIGHT ANALYTICS, hemos puesto mucho cuidado en elegir las 
                    herramientas y tecnologías que mejor se adaptan a nuestras necesidades. Desde 
                    el principio, nos enfocamos en usar soluciones modernas que no solo optimizan 
                    el rendimiento, sino que también aseguran una experiencia de usuario fluida y 
                    agradable. Cada herramienta que hemos integrado ha sido seleccionada para que 
                    puedas transformar datos complejos en información clara y útil sin complicaciones. 
                    Nuestro objetivo es hacer que tu interacción con la plataforma sea intuitiva y efectiva, 
                    ayudándote a obtener los mejores conocimientos posibles con facilidad.</p>
                <p>El desarrollo de la plataforma web de INSIGHT ANALYTICS, y el contenido desplegado en ella, empleó las siguientes herramientas para su estructuración.</p>
            </div>
            <div class="seccion">
                <h2>Bases de datos</h2>
                <p>Los datos sobre delitos que se muestran en esta página se toman de las estadísticas abiertas desplegadas en los diferentes portales web de interés, verificando que la información sea precisa y actualizada, acorde con las diferentes temáticas a tratar, con el fin de identificar tendencias y patrones, que luego presentamos de forma clara y visual para que cualquier usuario pueda entender fácilmente. Esto asegura que la información que mostramos sea confiable y esté disponible para todos.</p>
            </div>
            <div class="seccion">
                <h2>R Studio y R Markdown</h2>
                <p>Para la distribución de los datos, utilizamos R Studio y R Markdown debido a su eficiencia y flexibilidad al trabajar con grandes conjuntos de datos. R Studio nos permitió realizar análisis estadísticos complejos y visualizaciones de manera eficiente, mientras que R Markdown facilitó la integración de código, texto y gráficos en un solo documento dinámico. Estas herramientas nos permitieron no sólo procesar los datos de manera precisa, sino también presentarlos de forma clara y accesible en la web, asegurando que los usuarios puedan interactuar con los resultados de manera intuitiva.</p>
            </div>
            <div class="seccion">               
                <h2>HTML</h2>
                <p>Usamos HTML porque es la base para construir cualquier página web y nos permite organizar todo el contenido de forma clara. Con HTML, pudimos darle estructura a cada sección de la página, como los textos, tablas y gráficos, de una manera sencilla y bien organizada. Además, es un lenguaje muy accesible, lo que facilita su aprendizaje y uso tanto para proyectos pequeños como para desarrollos más complejos. Nos asegura también que la página sea compatible con cualquier navegador o dispositivo, brindando una experiencia consistente para todos los usuarios, sin importar si acceden desde un teléfono móvil, una tablet o una computadora. Su flexibilidad nos permitió incorporar fácilmente otros elementos como CSS y JavaScript para mejorar el diseño y la interactividad, lo que hace que nuestra página no solo sea funcional, sino también atractiva y moderna.</p>
            </div>
            <div class="seccion">
                <h2>CSS</h2>
                <p>Usamos CSS porque nos permite darle estilo y personalidad a nuestra página web. Mientras que HTML estructura el contenido, CSS se encarga de hacerlo visualmente atractivo, permitiéndonos controlar colores, fuentes, tamaños y la disposición de los elementos en la página. Gracias a CSS, pudimos crear un diseño más moderno y coherente, asegurando que la experiencia visual sea agradable para los usuarios. Además, es una herramienta flexible que facilita hacer ajustes responsivos, lo que significa que nuestra página se ve bien tanto en dispositivos móviles como en pantallas más grandes. CSS nos ayudó a darle vida a la página, haciendo que sea fácil de navegar y atractiva a la vista</p>
            </div>
            <div class="seccion">
                <h2>JAVASCRIPT</h2>
                <p>Usamos JavaScript para darle interactividad y dinamismo a nuestra página web. Mientras que HTML y CSS se encargan de la estructura y el estilo, JavaScript nos permite hacer que la página responda a las acciones de los usuarios, como clics, desplazamientos y formularios. Gracias a esta herramienta, pudimos crear funciones que mejoran la experiencia del usuario, como la validación de datos en tiempo real, animaciones, y la actualización de contenido sin necesidad de recargar la página. JavaScript también nos permitió integrar diferentes APIs y hacer que la página sea más dinámica y funcional, garantizando una interacción fluida y atractiva en todos los dispositivos.</p>
            </div>
            <div class="seccion">
                <h2>GITHUB</h2>
                <p>Utilizamos GitHub como nuestra plataforma principal para el control de versiones y colaboración en el desarrollo de la página web. GitHub nos permitió gestionar el código fuente de manera eficiente, realizar un seguimiento de los cambios, y colaborar con otros miembros del equipo en tiempo real. La integración con sistemas de control de versiones como Git facilitó la coordinación y el manejo de diferentes versiones del proyecto, asegurando que todos los cambios se documentaran y se pudieran revertir si fuera necesario. Además, GitHub proporcionó una plataforma segura para almacenar y compartir el código, mejorando la transparencia y la organización del trabajo.</p>
            </div>
            <div class="seccion">
                <h2>VERCEL</h2>
                <p>Elegimos Vercel para el despliegue de nuestra página web debido a su facilidad de uso y su enfoque en la optimización del rendimiento. Vercel automatiza el proceso de despliegue y nos permitió publicar nuestra web de manera rápida y sencilla. Su integración con GitHub facilitó la implementación continua, lo que significa que cada vez que realizábamos un cambio en el repositorio, la página se actualizaba automáticamente. Además, Vercel ofrece una infraestructura escalable que asegura que nuestra página cargue rápidamente y sea accesible en todo momento, proporcionando una experiencia de usuario fluida y eficiente.</p>
            </div>
        </div>
    </main>
    <footer>
        <custom-footer></custom-footer>
    </footer>
    <script src="/js/menu.js"></script>
    <script src="/js/model.js"></script>
</body>
</html>
