<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/Css/styles.css">
    <style>
        main{
            margin-left: 20%;
            margin-right: 20%;
            display: flex;
        }
        h2{
            text-align: center;
            font-size: 30px;
        }

        .Content{
            margin-left: 10%;
            margin-right: 10%;

        }

        .card{
            align-items: center;
            text-align: center;
            display: flex;
            justify-content: space-between;
            padding: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 1px black solid;
            max-width: 400px;
            width: 300px;
        }

        .card a img{
            height: 20px;
        }
    </style>
</head>
<body>
    <header>
        <custom-header></custom-header>
    </header>

    <main>
        <div class="Content">
            <h2>R-Markdown</h2>
            <div class="card">
                <h3>Abigeato</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Amenazas</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Delitos sexuales</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Extorsión</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Homicidio Accidentes</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Homicidios</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Hurto Automotores</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Hurto Entidades Comerciales</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Hurto Entidades Financieras</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Hurto Motocicletas</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Hurto a Personas</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Hurto a residencias</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Lesiones Accidentes de Trafico</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Lesiones Personales</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Pirateria Terrestre</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Secuestros</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Terrorismos</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Violencia Intrafamiliar</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
        </div>
        <div class="Content">
            <h2>Excel</h2>
            <div class="card">
                <h3>Abigeato</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_ABIGEATO.xlsx" download="BD_ABIGEATO.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Amenazas</h3>
                <p>
                    <a href="" download=""><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Delitos sexuales</h3>
                <p>
                    <a href="/Media/Contenido/Excel/Copia de BD_ABUSO_SEXUAL (version 1).xlsx" download="Copia de BD_ABUSO_SEXUAL (version 1).xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Extorsión</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_EXTORSION.xlsx" download="BD_EXTORSION.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Homicidio Accidentes</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_HOMICIDIO_TRANSITO.xlsx" download="BD_HOMICIDIO_TRANSITO.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Homicidios</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_HOMICIDIO.xlsx" download="BD_HOMICIDIO.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Hurto Automotores</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_HURTO_AUTOMOTORES.xlsx" download="BD_HURTO_AUTOMOTORES.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Hurto Entidades Comerciales</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_HURTO_COMERCIO.xlsx" download="BD_HURTO_COMERCIO.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Hurto Entidades Financieras</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_HURTO_ENT_FINANCIERAS.xlsx" download="BD_HURTO_ENT_FINANCIERAS.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Hurto Motocicletas</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_HURTO_MOTO.xlsx" download="BD_HURTO_MOTO.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Hurto a Personas</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_HURTO_PERSONA.xlsx" download="BD_HURTO_PERSONA.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Hurto a residencias</h3>
                <p>
                    <a href="/Media/Contenido/Excel/DB_HURTO_RESIDENCIAS.xlsx" download="DB_HURTO_RESIDENCIAS.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Lesiones Accidentes de Trafico</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_LESION_TRANSITO.xlsx" download="BD_LESION_TRANSITO.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Lesiones Personales</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_LESION_PERSONAL.xlsx" download="BD_LESION_PERSONAL.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Pirateria Terrestre</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_PIRATERIA.xlsx" download="BD_PIRATERIA.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Secuestros</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_SECUESTRO.xlsx" download="BD_SECUESTRO.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Terrorismos</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_TERRORISMO.xlsx" download="BD_TERRORISMO.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
            <div class="card">
                <h3>Violencia Intrafamiliar</h3>
                <p>
                    <a href="/Media/Contenido/Excel/BD_VIOLENCIA_INTRAFAMILIAR.xlsx" download="BD_VIOLENCIA_INTRAFAMILIAR.xlsx"><img src="/Media/Download-content.png" alt="Descargar"></a>
                </p>
            </div>
        </div>
    </main>

    <footer>
        <custom-footer></custom-footer>
    </footer>
    <script src="/js/menu.js"></script>
    <script src="/js/model.js"></script>
</body>
</html>
