<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HURTO A RESIDENCIAS</title>
    <link rel="stylesheet" href="/Css/styles.css">
    <link rel="stylesheet" href="/Css/content_D.css">
</head>
<body>
    <header>
        <custom-header></custom-header>
    </header>

<main>
    <div class="Titulo-content">
        <h2>HURTO A RESIDENCIAS</h2>
    </div>
    <div class="content">
        <div class="content-1">
            <img src="/Media/Hurto Residencias/NRGIXTGHGZGCHFCOA3JNR2V47Y.jpg" alt="" width="100%" height="500px">
            
            <div class="caja">
                <h2>¿Qué es?</h2>
                <p>El <b>hurto de residencias</b> hace referencia al hecho de apoderarse o sustraer bienes materiales de una residencia sin el consentimiento del propietario o residente. Este tipo de hurto se considera una infracción grave debido a la violación de la privacidad y la seguridad personal de los residentes.</p>
                <p>Varias de las conductas presentadas en este delito abarca desde el acceso ilegal a la propiedad, ingresando sin autorización a una vivienda con intención premeditada de hurto, la sustracción de bienes o propiedades dentro de la residencia y, en casos de mayor gravedad, el uso de violencia o intimidación para acceder a la propiedad o neutralizar a los propietarios u ocupantes.</p>
            </div>
            <img src="/Media/Hurto Residencias/robos_casas_bumping.jpg" alt="" width="100%" height="500px">
            <div class="caja">
                <h2>¿Cómo identificarlo?</h2>
                <p>Para identificar un caso de hurto a residencias, se deben observar los siguientes indicadores:</p>
                <ol>
                    <li><b>Signos de ingreso forzado:</b> Si ves puertas, ventanas o cualquier otra entrada dañada o forzada, puede ser una señal clara de que alguien intentó entrar.</li>
                    <li><b>Falta de objetos:</b> Notar que algunos de tus objetos personales o bienes ya no están es otro signo evidente.</li>
                    <li><b>Daños dentro de la casa:</b> Si encuentras el interior revuelto o con daños, puede ser que los delincuentes hayan estado buscando algo específico.</li>
                    <li><b>Testimonios y pruebas:</b> La información que proporcionen testigos o las cámaras de seguridad también es clave para confirmar lo que sucedió.</li>
                </ol>
            </div>
            <img src="/Media/Hurto Residencias/13144250075-1080pnbcstations.jpg" alt="" width="100%" height="500px">
            <div class="caja">
                <h2>Medidas preventivas</h2>
                <p>Para prevenir el hurto a residencias y mejorar la seguridad en el hogar, se pueden tomar las siguientes medidas:</p>
                <ol>
                    <li><p><b>Mejora la seguridad de tu hogar:</b></p>
                    <ul>
                        <li><p>Instala sistemas de alarma y cámaras de seguridad visibles.</p></li>
                        <li><p>Asegúrate de tener cerraduras seguras en todas las puertas y ventanas.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Colabora con tus vecinos:</b></p>
                    <ul>
                        <li><p>Organiza o participa en un grupo de vigilancia vecinal para mantener el área segura.</p></li>
                        <li><p>Si ves algo raro, informa de inmediato a las autoridades.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Toma medidas adicionales:</b></p>
                    <ul>
                        <li><p>Mantén bien iluminados los exteriores de tu casa, especialmente en entradas y accesos.</p></li>
                        <li><p>No escondas llaves en lugares predecibles, como debajo de alfombras o macetas.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Cuida la privacidad:</b></p>
                    <ul>
                        <li><p>Evita compartir en redes sociales detalles sobre cuándo estarás fuera de casa por mucho tiempo o cualquier información sobre la seguridad de tu hogar.</p></li>
                        <li><p>Verifica siempre la identidad de quienes tocan a tu puerta antes de permitirles el acceso.</p></li>
                    </ul>
                    </li>
                </ol>
            </div>
            <img src="/Media/Hurto Residencias/thief-1562699_1280.jpg" alt="" width="100%" height="500px">
            <div class="caja">
                <h2>Sanciones</h2>
                <p>Las sanciones para el delito de hurto a residencias en Colombia están reguladas en el <b>Código Penal Colombiano</b> y pueden variar según la gravedad del delito y las circunstancias específicas. Las sanciones incluyen:</p>
                <ol>
                    <li><p><b>Hurto Simple a Residencias:</b></p>
                    <ul>
                        <li><p><b>Prisión:</b> Las penas van de <b>4 a 8 años</b> de prisión. La pena puede variar según el valor de los bienes robados y el grado de violencia utilizado.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Hurto Agravado a Residencias:</b></p>
                    <ul>
                        <li><p><b>Prisión:</b> Las penas para el hurto agravado oscilan entre <b>8 y 16 años</b> de prisión. Las circunstancias que agravan el delito incluyen el uso de violencia o intimidación, la participación de cómplices, o la entrada con la intención de causar daño.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Circunstancias Agravantes:</b></p>
                    <ul>
                        <li><p><b>Prisión Extendida:</b> En casos de reincidencia, uso de armas, o violación de la privacidad durante el hurto, las penas pueden ser más severas.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Responsabilidad Adicional:</b></p>
                    <ul>
                        <li><p><b>Indemnización:</b> El condenado puede estar obligado a indemnizar a la víctima por los bienes robados o los daños causados durante el hurto.</p></li>
                    </ul>
                    </li>
                </ol>
                <p>La respuesta penal en casos de hurto a residencias busca proteger la seguridad y la privacidad de las personas, así como disuadir a los delincuentes de cometer estos delitos. La colaboración con las autoridades y la implementación de medidas preventivas son fundamentales para reducir la incidencia de estos crímenes y mejorar la seguridad en las comunidades.</p>
            </div>
            <div class="caja">
                <h2>Call to action.</h2>
                <p>"¡No dejes tu hogar desprotegido! Actúa ahora para reforzar la seguridad de tu residencia, colabora con tus vecinos y mantente alerta. Protege lo que más valoras y contribuye a mantener tu comunidad segura. ¡Juntos podemos hacer la diferencia!"</p>
            </div>
        </div>
        <custom-content></custom-content>
    </div>
</main>

    <footer>
        <custom-footer></custom-footer>
    </footer>

    <script src="/js/model.js"></script>
</body>
</html>


